<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, eos! Illo
        laudantium delectus est officia aperiam temporibus nam ea eum corporis
        dolor praesentium quaerat recusandae fugit maiores ullam, quod dolorem.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, eos! Illo
        laudantium delectus est officia aperiam temporibus nam ea eum corporis
        dolor praesentium quaerat recusandae fugit maiores ullam, quod dolorem.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, eos! Illo
        laudantium delectus est officia aperiam temporibus nam ea eum corporis
        dolor praesentium quaerat recusandae fugit maiores ullam, quod dolorem.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
